.login-box .card {
    background-color: rgba(0, 0, 0, 0.8);
}

.login-box .card .card-body h1 {
    font-size: 22px;
}

.login-box .card .card-body .form-input {
    margin-top: 2rem;
}

.login-box .card .card-body .form-input input,
.login-box .card .card-body .form-input span {
    background-color: rgba(0, 0, 0, 0.85);
    border: 0;
}

.login-box .card .card-body .form-input input {
    color: #fff;
}

.login-box .card .card-body .form-input button {
    margin-top: 1rem;
    font-weight: bold;
    width: 8rem;
}

.btn.btn-flat {
    border-radius: 2px;
}

.nav .dropdown-menu {
    right: 0;
    left: auto;
}

.dropdown-toggle::after {
    margin-left: .5rem;
}

.bg-custom {
    background-color: #FFAE00 !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

a.nav-link.dropdown-toggle i{
    margin-right: .2rem;
}

.sidebar {
    position: absolute;
    z-index: 1;
    width: 250px;
    top: 4rem;
}

.sidebar .navbar-nav {
    display: block;
    width: 100%;
}

.sidebar .navbar-nav a.nav-link {
    color: #fff;
    background-color: #FFAE00;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    text-align: center;
}

.sidebar .navbar-nav h3 {
    color: #FFAE00;
    font-size: 1.3rem;
    padding-top: 1rem;
}

.sidebar .navbar-nav .nav-item {
    margin-bottom: .5rem;
}

.content {
    margin-left: 250px;
    padding-top: 5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.breadcrumb {
    background: #FFAE00;
}

.breadcrumb li.breadcrumb-item {
    color: #fff !important;
}

@media only screen and (max-width: 767px) {
    .sidebar {
        width: 100%;
        left: 0;
        right: 0;
        background: #ffae00;
        top: 3rem;
    }

    .sidebar .navbar-nav {
        padding: 1rem;
    }

    .sidebar .navbar-nav h3 {
        color: #fff;
    }

    .content {
        margin-left: unset;
        padding-right: 1rem;
        padding-left: 1rem;
    }
}