.login-box .card {
    background-color: rgba(0, 0, 0, 0.8);
}

.login-box .card .card-body h1 {
    font-size: 22px;
}

.login-box .card .card-body .form-input {
    margin-top: 2rem;
}

.login-box .card .card-body .form-input input,
.login-box .card .card-body .form-input span {
    background-color: rgba(0, 0, 0, 0.85);
    border: 0;
}

.login-box .card .card-body .form-input input {
    color: #fff;
}

.login-box .card .card-body .form-input button {
    margin-top: 1rem;
    font-weight: bold;
    width: 8rem;
}

.btn.btn-flat {
    border-radius: 2px;
}

.nav .dropdown-menu {
    right: 0;
    left: auto;
}

.dropdown-toggle::after {
    margin-left: .5rem;
}

.bg-custom {
    background-color: #FFAE00 !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

a.nav-link.dropdown-toggle i{
    margin-right: .2rem;
}