.login-box {
    margin-top: 10%;
}

.login-box .card {
    background-color: rgba(0, 0, 0, 0.8);
}

.login-box .card .card-body h1 {
    font-size: 22px;
}

.login-box .card .card-body .form-input {
    margin-top: 2rem;
}

.login-box .card .card-body .form-input input,
.login-box .card .card-body .form-input span {
    background-color: rgba(0, 0, 0, 0.85);
    border: 0;
}

.login-box .card .card-body .form-input input {
    color: #fff;
}

.login-box .card .card-body .form-input button {
    margin-top: 1rem;
    font-weight: bold;
    width: 8rem;
}

.btn.btn-flat {
    border-radius: 2px;
}